<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
    <script src="https://kit.fontawesome.com/e6d5f02f54.js" crossorigin="anonymous"></script>

    <title>Hello, world!</title>
</head>
<body>

<script>
function verifyPassword() {
  var pw = document.getElementById("pswd").value;
  //check empty password field
  if(pw == "") {
     document.getElementById("message").innerHTML = "**Fill the password please!";
     return false;
  }

 //minimum password length validation
  if(pw.length < 8) {
     document.getElementById("message").innerHTML = "**Password length must be atleast 8 characters";
     return false;
  }

//maximum length of password validation
  if(pw.length > 15) {
     document.getElementById("message").innerHTML = "**Password length must not exceed 15 characters";
     return false;
  } else {
     alert("Password is correct");
  }
}
</script>

<div th:insert="navbar :: navbar">  </div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Registration</h1>

            <form th:action="@{/registration}" th:object="${user}" method="POST" onsubmit ="return verifyPassword()">
                <div class="form-group">
                    <label class="control-label" form="firstName">First Name </label>
                    <input type="text" name="firstName" th:field="*{firstName}" class="form-control"
                           placeholder="Enter First Name" required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label>Last Name </label>
                    <input ype="text" name="lastName" th:field="*{lastName}" class="form-control"
                           placeholder="Enter Last Name" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label> Gender</label>
                    <input type="text" name="lastName" th:field="*{gender}" class="form-control"
                           placeholder="Enter Gender" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label> Username</label>
                    <input type="text" name="lastName" th:field="*{username}" class="form-control"
                           placeholder="Enter Username" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label> Email</label>
                    <input type="text" name="email" th:field="*{email}" class="form-control"
                           placeholder="Enter Email" required autofocus="autofocus"/>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 mt-5">
                        <label for="birthdate">Date of birth</label>
                        <div class="input-group date">
                            <input type="text" class="form-control" id="birthdate" autocomplete="off" th:field="*{dateOfBirth}"/>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span id = "message" style="color:red"> </span><br>
                    <label>Password</label>
                    <input type="password" id="pswd" name="lastName" th:field="*{passwordHash}" class="form-control"
                           placeholder="Enter password" required autofocus="autofocus"/>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered?<a href="/"> sign in here</a></span>
                </div>
            </form>

        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

</body>
</html>

