<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>UCan</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div th:insert="navbar :: navbar">  </div>
<div class="container">
  <div class="row">
    <h1 th:text="'Authors list'">asdf</h1>
  </div>
  <div class="row mb-3">
    <a class="btn btn-primary" th:href="@{/authors/new}">Add new author</a>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Biography</th>
        <th scope="col">Gender</th>
        <th scope="col">DoB</th>
        <th scope="col">PWHash</th>
        <th scope="col">Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="author: ${authors}">
        <td th:text ="${author.firstName}"></td>
        <td th:text ="${author.lastName}"></td>
        <td th:text ="${author.biography}"></td>
        <td>
          <a class="btn btn-primary" th:href="@{/authors/edit/{id}(id=${author.id})}">Edit</a>
          <a class="btn btn-danger" th:href="@{/authors/delete/{id}(id=${author.id})}">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>