<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-md-8 col-lg-9 col-xl-8">
                <div class="d-flex">
                    <div class="flex-grow-1 ms-4 ps-3">
                        <figure>
                            <blockquote class="blockquote mb-4">
                                <p>
                                    <i class="fas fa-quote-left fa-lg text-warning me-2"></i>
                                    <span class="font-italic">Sed ut perspiciatis unde omnis iste natus error sit
                                  voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                  quae ab illo inventore veritatis.</span>
                                </p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Annie Hall <cite title="Source Title">New York Times</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>