<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UCan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div th:insert="navbar :: navbar">  </div>
<div class="container">
    <div class="row">
        <h1 th:text="'Categories list'">asdf</h1>
    </div>
    <div class="row mb-3">
        <a class="btn btn-primary" th:href="@{/categories/new}">Add new category</a>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="category: ${categories}">
                <td th:text ="${category.name}"></td>
                <td th:text ="${category.description}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{/categories/edit/{id}(id=${category.id})}">Edit</a>
                    <a class="btn btn-danger" th:href="@{/categories/delete/{id}(id=${category.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>